@model IEnumerable<SMS.Models.Student>

@{
    ViewBag.Title = "Generate Report";
    Layout = "~/Views/Teachers/_Teacher_Layout.cshtml";
}

<link href="~/Content/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-12">
        <div class="card mb-3">
            <div class="card-header">
                <h3><i class="fa fa-table"></i> Students</h3>
            </div>

            <div class="card-body">
                <div class="table-responsive">


                    <table id="students" class="table table-sm table-bordered display">
                        <thead>

                            <tr>
                                <th>
                                    Term Report

                                </th>
                                <th>
                                    Student ID
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MiddleName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Gender)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DOB)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ClassGrade.Grade)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        
                                        @Html.ActionLink("Christmas", "StudentReport", new { id = item.StudentID, period = "christmas" }, new { @class = "btn btn-sm btn-outline-primary", target = "_blank" })
                                        @Html.ActionLink("Easter", "StudentReport", new { id = item.StudentID, period = "easter" }, new { @class = "btn btn-sm btn-outline-primary", target = "_blank" })
                                        @Html.ActionLink("Summer", "StudentReport", new { id = item.StudentID, period = "summer" }, new { @class = "btn btn-sm btn-outline-primary", target = "_blank" })
                                    </td>
                                    <td>
                                        @item.StudentID
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MiddleName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gender)
                                    </td>
                                    <td>
                                        @item.DOB.Date.ToString().Replace("12:00:00 AM", "")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ClassGrade.Grade)
                                    </td>
                                </tr>
                            }

                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}


<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/plugins/datatables/dataTables.bootstrap4.min.js"></script>

<script>
    $(document).ready(function () {
        $('#students').DataTable({

            "scrollY": "350px",
            "paging": false

        });
    });
</script>

